<h1 class="center-align">User Portal</h1>
<h3 class="center-align">Job Info will Be displayed here</h3>
<form>
  <div class="container">
    <div class="input-field">
      <input id="search" type="search" required>
      <label for="search"><i class="mdi-action-search"></i></label>
      <i class="mdi-navigation-close"></i>
    </div>
  </form>
</div>
