<h1 class="center-align">User Portal</h1>
<h3 class="center-align">Job Info will Be displayed here</h3>
<form>
  <div class="container">
    <div class="input-field">
      <input id="search" type="search" required>
      <label for="search"><i class="mdi-action-search"></i></label>
      <i class="mdi-navigation-close"></i>
    </div>
  </form>
</div>

<!-- testing -->
<div class="main" ng-controller="MainController">
  <div class="container">
    <div class="row">
      <h2>Search</h2>
        <div class="jobSearch" ng-repeat="search in searchResults.value.items">
              <p>{{ search.description }}</p>
              <p>{{search.link }}</p>
        </div>
    </div>
  </div>
</div>
