<ul id="dropdown1" class="dropdown-content nav-item">
  <li><p>Dropdown 1</p></li>
  <li><p>Dropdown 2</p></li>
    <li class="divider"></li>
</ul>

<nav class="cyan darken-2" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo white-text" id="logo">Hireddit</a>
    <ul class="right hide-on-med-and-down">
      <li>Something</li>
      <li ><a class="dropdown-button white-text" href="#!" data-activates="dropdown1">Your Dashboard<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
    </ul>

    <!-- Mobile Navbar -->
    <ul id="nav-mobile" class="side-nav cyan darken-2">
      <li>Something</li>
  </ul>
  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>

